.footer {
    border-top: 2px solid #CCCCCC;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    &__contenedor {
        width: 20%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        margin-left: 5%;
    }
    &__logo {
        width: 55px;
        height: 55px;
        border-radius: 10px;     
    }
    &__texto {
        font-size: 24px;
        margin: 0 2%;
    }
    &__creador {
        width: 20%;
    }
    &__creadorTexto {
        font-size: 20px;
        font-weight: 400;
        margin-right: 5%;
    }
}

