.header {
    border-bottom: 2px solid $border-color;
    display: flex;
    align-items: center;

    &__logo {
        width: 55px;
        height: 55px;
        border-radius: 10px;
        margin-left: 5%;
    }

    &__titulo {
        font-size: $font-size-xl;
        margin-left: 1%;
    }
}